<table>
  <tr>
    <th>Name</th>
    <th>Numtweets</th>
    <th>Archive</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<h2><p align = "right"><%= link_to 'New Hashtag', new_hashtag_path %></p></h2>
<% @hashtags.each do |hashtag| %>
  <tr>
    <td><%= link_to hashtag.name, hashtag %></td>
    <td><%= hashtag.numtweets %></td>
    <td>
     <% if hashtag.archive? %>
        <div>Currently Archiving</div>
     <% else %>
       <%= form_for hashtag do |f| %>
         <div><%= f.hidden_field :archive, :value => '1' %></div>
         <div class="actions"><%= f.submit "Archive" %></div>
      <% end %>   
     <% end %>
</td>
  </tr>
<% end %>
</table>

<br />

