<div class="section">
<table>
  <tr>
  <td>
  <h1><%= @hashtag.name %></h1>
  </td>
  <td>
  <b>Archived tweets:</b>
  <%= @hashtag.numtweets %>
 </td>
<td>
    <% if @hashtag.archive? %>
        Currently Archiving
     <% else %>
       <%= form_for @hashtag do |f| %>
         <div><%= f.hidden_field :archive, :value => '1' %></div>
         <div class="actions"><%= f.submit "Archive" %></div>
      <% end %>   
     <% end %>
</td>
</tr>
</table>
</div>
<p>
<% unless @related_hashtags.count == 0 %>
<h3>Related Hashtags</h3> 
  <div id="tcdiv" class="section">
    <script type="text/javascript">
      google.load("visualization", "1");
      google.setOnLoadCallback(draw);
      function draw() {
        data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addColumn('string', 'Link');
        data.addRows(<%= @related_hashtags.count %>);
        <% @related_hashtags.each_index do |tag|%>
        data.setValue(<%= tag %>, 0, '<%= @related_hashtags[tag][0] %>');
        data.setValue(<%= tag %>, 1, <%= @related_hashtags[tag][1] %>);
        data.setValue(<%= tag %>, 2, '<%= hashtag_path(Hashtag.find_by_name(@related_hashtags[tag][0])) %>');
        <% end %>
        var outputDiv = document.getElementById('tcdiv');
        var tc = new TermCloud(outputDiv);
        tc.draw(data, null);
      }
    </script>
</div>
<br>
<% end %>
<br>
<h3>Recent Tweets</h3>
<div class="section">
<% @tweets.each do |t| %>
<b>@<%= t.user %></b>
</br>
<%= t.text %>
</br>
<em><%= t.timestamp %></em>
</br>
</br>
<% end %>
</div>
<%= link_to 'Back', hashtags_path %>
