<!DOCTYPE html>
<html>
<head>
  <title>TwitterArchive</title>
  <%= javascript_include_tag :defaults %>
  <%= render 'layouts/stylesheets' %>
<%= javascript_include_tag "http://visapi-gadgets.googlecode.com/svn/trunk/termcloud/tc.js" %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
 
  <%= csrf_meta_tag %>
</head>
<body>
    <div class="container">
    <%= render 'layouts/header' %> 
    <section class="round">
      <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
